body {
font-family: Arial, sans-serif;
margin: 0 auto;
max-width: 900px;
width: 90%;
line-height: 1.6;
background: #005035;
color: #000000;
}
header, footer {
background: #A49665;
color: #000000;
text-align: center;
padding: 1rem;
}
main {
padding: 2rem;
background: #F4F4F4;
color: #000000;
}
h1, h2 {
font-family: Georgia, serif;
margin: 0.5rem 0;
}
footer nav a{
color:#005035;
margin: 0 1rem;
text-decoration: none;
}
footer nav a:hover {
text-decoration: underline;
}