<footer>
        <ul class="footer-links">
            <li><a href="https://github.com/amurrie2" target="_blank">GitHub</a></li>
            <li><a href="https://amurrie2.github.io" target="_blank">GitHub.io</a></li>
            <li><a href="https://www.freecodecamp.org/joseph_murr" target="_blank">FreeCodeCamp</a></li>
            <li><a href="https://www.linkedin.com/in/alberto-murrieta-789097185/" target="_blank">LinkedIn</a></li>
        </ul>

        <p>
            Page built by
            <a href="https://murrietasoftware.com" target="_blank"> Murrieta Software</a>
            © <span id="year"></span>
        </p>
        
        <script>
            document.getElementById("year").textContent = new Date().getFullYear();
        </script>
    </footer>