<header>
    <h1>Joseph Murrieta's Jumbo Mastodon | ITIS 3135</h1>

    <nav aria-label="Primary">
        <ul class="nav">
            <li><a href="./">Home</a></li>
            <li><a href="contract.html">Contract</a></li>
            <li><a href="survey.html">Survey</a></li>
            <li><a href="cards.html">Cards</a></li>
            <li><a href="inventory.html">Inventory</a></li>
            <li><a href="documentation.html">Documentation</a></li>
            <li><a href="product.html">Product</a></li>
        </ul>
    </nav>

    <nav aria-label="Secondary">
        <ul class="nav secondary">
            <li><a href="website_evaluations.html">Website Evaluations</a></li>
            <li><a href="review1.html">Peer Review 1</a></li>
            <li><a href="review2.html">Peer Review 2</a></li>
            <li><a href="stuff/cr@PpY-%20pAgE.htm">Crappy Page</a></li>
            <li><a href="https://webpages.charlotte.edu/amurrie2/itis3135/hobby/#who" target="_blank">Hobby</a></li>
        </ul>
    </nav>
</header>