<header>
        <h1>Joseph Murrieta's Jumbo Mastodon | ITIS 3135</h1>
        <nav aria-label="Primary">
            <ul class="nav">
                <li><a href="./" aria-current="page">Home</a></li>
                <li><a href="contract.html">Contract</a></li>
                <li><a href="stuff/cr@PpY-%20pAgE.htm">Crappy Page</a></li>  
                <li><a href="https://webpages.charlotte.edu/amurrie2/itis3135/hobby/#who" target="_blank">Hobby</a></li>
                <li><a href="review1.html" aria-current="page">Peer Review 1</a></li>
                <li><a href="review2.html">Peer Review 2</a></li>          
            </ul>
        </nav>
    </header>